@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes cinematic {
  0% {
    transform: scale(1.1) translateY(0);
  }
  50% {
    transform: scale(1.15) translateY(-10px);
  }
  100% {
    transform: scale(1.1) translateY(0);
  }
}

.animate-cinematic {
  animation: cinematic 20s infinite ease-in-out;
}
